/**
 * cherry-markdown 编辑器样式重置 css
 */
 // 预览模式样式
/*
.preview-only {
    .cherry {
      background-color: #FFF;
      box-shadow: none;
      .cherry-previewer {
        background-color: #FFF;
      }
    }
 }
 */
